
{% block page_header %}
<div class="row">
    <div class="col-12"> 
        <div class="card bg-secondary text-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <h3 class="mb-4 text-light"><i class="mdi mdi-alert-circle-outline me-3"></i>Jobcard</h3>
                        <p class="card-text">Manage all customers job-cards.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3 class="mb-4 text-light"><i class="mdi mdi-alert-circle me-3"></i>Options</h3>
                        <p class="card-text">
                            {% if customer_id %}
                            <a href="{% url  'customer-jobcard-list' customer_id %}" class="btn-sm btn-dark">LIST</a>
                            <a href="{% url  'jobcard-customer-insert' customer_id %}" class="btn-sm btn-dark">NEW JOBCARD</a>
                            {% endif %}
                            <a href="{% url  'customer-list' customer_id %}" class="btn-sm btn-dark"><i class="dripicons-arrow-thin-left"></i> BACK TO CUSTOMERS</a>
                            <!--<button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">Scrollable modal</button>-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_header%}