{% extends 'aix/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}

    <div class="row pt-2">
        {% if work_order_activities %}
        <div class="col-12">
            {% block page_header %}
            {% include './page_header.html' %}
            {% endblock page_header %}
        </div>
        {% endif %}
        {% if not work_order_activities %}
        <div class="columns is-multiline is-centered">
            <div class="column is-6">
                <div class="card">
                    {% if work_order_activity %}
                    <form action="{% url 'aix:work-order-activity-update-tsk' entity_slug=view.kwargs.entity_slug work_order_task_pk=work_order_activity.task.uuid work_order_activity_pk=work_order_activity.uuid %}" method="post">
                    {% else %}
                    <a href="{% url 'aix:work-order-activity-create-tsk' entity_slug=view.kwargs.entity_slug work_order_task_pk=view.kwargs.work_order_task_pk %}" class="btn-sm btn-success col-lg-3 is-right">
                        <i class="mdi mdi-plus"></i> {% trans 'New Work Order Activity' %}</a>
                    <form action="{% url 'aix:work-order-activity-create-tsk' entity_slug=view.kwargs.entity_slug work_order_task_pk=view.kwargs.work_order_task_pk %}" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <div class="card-header">
                            <h2 class="card-header-title">
                                        <span class="icon is-medium">
                                           {# {% icon 'ic:baseline-production-quantity-limits' 36 %} #}
                                        </span>{{ page_title }}</h2>
                                        <div class="level-item">
                                            <!-- <a href="{% url 'aix:work-order-activity-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'New Work Order' %}</a> -->
                                        </div>
                        </div>
                        {% if form %}
                        <div class="card-body dexa-form-table">
                            <table>{{ form.as_table }}</table>
                            <button type="submit"
                                    class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                {% trans 'Save' %}
                            </button>
                            {% if work_order_activities %}
                            <a href="{% url 'aix:work-order-task-details' entity_slug=view.kwargs.entity_slug work_order_task_pk=view.kwargs.work_order_task_pk %}"
                               class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                            {% else %}
                                {% if work_order_activity %}
                                <a href="{% url 'aix:work-order-task-details' entity_slug=view.kwargs.entity_slug work_order_task_pk=work_order_activity.task.uuid %}"
                                class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                               {% else %}
                               <a href="{% url 'aix:work-order-task-details' entity_slug=view.kwargs.entity_slug work_order_task_pk=view.kwargs.work_order_task_pk %}"
                                  class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                               {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </form>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% if work_order_activities %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <h1 class="is-size-4 text-weight-thin">{% trans 'Activity List' %}</h1>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a href="{% url 'aix:work-order-activity-create-tsk' entity_slug=view.kwargs.entity_slug work_order_task_pk=view.kwargs.work_order_task_pk %}" class="btn-sm btn-success">
                                            <i class="mdi mdi-plus"></i> {% trans 'New WO Activity' %}</a>
                                    </div>
                                </div>
                            </div>
                            <table id="state-saving-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Activity No.#</th>
                                        <th>Date</th>
                                        <th>ATD</th>
                                        <th>ATA</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for activity in work_order_activities %}
                                    <tr>
                                        <td>{{activity.code}}</td>
                                        <td>{{activity.activity_date}}</td>
                                        <td>{{activity.atd}}</td>
                                        <td>{{activity.ata}}</td>
                                        <td>
                                            
                                            {% if not work_order_activities %}{% else %}
                                            <a href="{% url  'aix:work-order-activity-update-tsk' entity_slug=view.kwargs.entity_slug work_order_task_pk=activity.task.uuid work_order_activity_pk=activity.uuid %}" class="btn-sm btn-dark">Edit</a>
                                            <a href="{% url  'aix:work-order-activity-details' entity_slug=view.kwargs.entity_slug work_order_activity_pk=activity.uuid %}" class="btn-sm btn-dark">Details</a>
                                            
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        {% endif %}
    </div> <!-- end row -->
{%endblock content%}