{% extends 'aix/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}

    <div class="row pt-2">
        {% if work_order_tasks %}
        <div class="col-12">
            {% block page_header %}
            {% include './page_header.html' %}
            {% endblock page_header %}
        </div>
        {% endif %}
        {% if not work_order_tasks %}
        <div class="columns is-multiline is-centered">
            <div class="column is-6">
                <div class="card">
                    {% if work_order_task %}
                    <form action="{% url 'aix:work-order-task-update-wo' entity_slug=view.kwargs.entity_slug work_order_pk=work_order_task.work_order.uuid work_order_task_pk=work_order_task.uuid %}" method="post">
                    {% else %}
                    <form action="{% url 'aix:work-order-task-create-wo' entity_slug=view.kwargs.entity_slug work_order_pk=view.kwargs.work_order_pk %}" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <div class="card-header">
                            <h2 class="card-header-title">
                                        <span class="icon is-medium">
                                           {# {% icon 'ic:baseline-production-quantity-limits' 36 %} #}
                                        </span>{{ page_title }}</h2>
                                        <div class="level-item">
                                            <!-- <a href="{% url 'aix:work-order-task-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'New Work Order' %}</a> -->
                                        </div>
                        </div>
                        {% if form %}
                        <div class="card-body dexa-form-table">
                            <table>{{ form.as_table }}</table>
                            <button type="submit"
                                    class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                {% trans 'Save' %}
                            </button>
                            {% if work_order_tasks %}
                            <a href="{% url 'aix:work-order-details' entity_slug=view.kwargs.entity_slug work_order_pk=view.kwargs.work_order_pk %}"
                               class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                            {% else %}
                                {% if work_order_task %}
                                <a href="{% url 'aix:work-order-details' entity_slug=view.kwargs.entity_slug work_order_pk=work_order_task.work_order.uuid %}"
                                class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                               {% else %}
                               <a href="{% url 'aix:work-order-details' entity_slug=view.kwargs.entity_slug work_order_pk=view.kwargs.work_order_pk %}"
                                  class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                               {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </form>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% if work_order_tasks %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <h1 class="is-size-4 text-weight-thin">{% trans 'Work Order List' %}</h1>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a href="{% url 'aix:work-order-task-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                            <i class="mdi mdi-plus"></i> {% trans 'New Work Order Task' %}</a>
                                    </div>
                                </div>
                            </div>
                            <table id="state-saving-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Task No.#</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Start Mileage</th>
                                        <th>End Mileage</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for work_order_task in work_order_tasks %}
                                    <tr>
                                        <td>{{work_order_task.taskno}}</td>
                                        <td>{{work_order_task.startdate}}</td>
                                        <td>{{work_order_task.enddate}}</td>
                                        <td>{{work_order_task.startmileage}}</td>
                                        <td>{{work_order_task.endmileage}}</td>
                                        <td>
                                            
                                            {% if not work_order_tasks %}
                                            <a href="{% url  'aix:work-order-task-update' entity_slug=view.kwargs.entity_slug work_order_task_pk=work_order_task.uuid %}" class="btn-sm btn-dark">Edit</a>
                                            <a href="{% url  'aix:work-order-task-details' entity_slug=view.kwargs.entity_slug work_order_task_pk=work_order_task.uuid %}" class="btn-sm btn-dark">Details</a>
                                            <!-- <a href="{% url  'aix:work-order-task-list' entity_slug=view.kwargs.entity_slug work_order_task_pk=work_order_task.uuid %}" class="btn-sm btn-dark">Job Cards</a> -->
                                            {% else %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        {% endif %}
    </div> <!-- end row -->
{%endblock content%}