{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} | aix</title>
	<meta content="Threeways Shipping ServicesThreeways Shipping Services | Oil & Gas | aixs" name="IVMS | Intra-Field & Logistics Tracker" />
	<meta content="MandoMando Design" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!--Extra Css-->
    {% block extra_css %}{% endblock extra_css %}
	<!-- Bootstrap Css -->
	<link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <script src="{% static 'django_ledger/bundle/styles.bundle.js' %}"></script>ominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
	<script src="/static/leaflet/leaflet.js"></script>
	<script src="/static/leaflet/locate/L.Control.Locate.min.js"></script>
	<link rel="stylesheet" href="/static/leaflet/leaflet.css" />
	<link rel="stylesheet" href="/static/leaflet/locate/L.Control.Locate.css" />
</head>

<!-- <body  data-sidebar="dark" class="dexa-bg-secondary"> -->
<body  data-sidebar="dark">

    {% block preloader %}
    {% comment %} {% include 'aix/partials/preloader.html' %} {% endcomment %}
    {% endblock preloader %}
	<!-- Begin page -->
	<div id="layout-wrapper">

        {% block header %}
		{% include 'aix/partials/header.html' %}
        {% comment %} {% include 'aix/partials/hori-header.html' %} {% endcomment %}
        {% endblock header %}
    
	    {% block sidebar %}
        {% comment %} {% endcomment %} {% include 'aix/partials/sidebar.html' %}
		{% comment %} {% include 'aix/partials/hori-sidebar.html' %} {% endcomment %}
        {% endblock sidebar %}
	
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="main-content">
			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">{{page_title}}</h4>
								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">{{pageview}}</a>
										</li>
										<li class="breadcrumb-item active">
											<button type="button" class="btn btn-light waves-effect" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="Extra options to configure.">
												Other Settings
											</button>
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<div class="dexa-bg-bodys">
					<!-- end page title -->{% block content %}{% endblock content %}</div>
					</div>
			</div>
			<!-- End Page-content -->
            {% block footer %}
            {% include 'aix/partials/footer.html' %}
            {% endblock footer %}
            </div>
		<!-- end main content-->
	</div>
	
	<!-- JAVASCRIPT -->
	<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
	<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
	<script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
    <!--Extra Javascript-->
    {% block extra_javascript %} {% endblock extra_javascript %}
	<!-- App js -->
	<script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'django_ledger/bundle/djetler.bundle.js' %}"></script>
	<script src="{% static 'js/ic.js' %}"></script>
</body>

</html>