{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="is-size-4 text-weight-thin">{% trans 'Units of Measure List' %}</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="{% url 'aix:uom-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                            <i class="mdi mdi-plus"></i> {% trans 'New Unit of Measure' %}</a>
                    </div>
                </div>
            </div>

            {% uom_table uom_list %}

        </div>
    </div>
{% endblock %}

