{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-8-tablet is-6-desktop">
            <div class="card">
        <div class="card-body">
                <form action="{{ account.get_update_url }}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-fullwidth is-primary my-3">{% trans 'Submit' %}</button>
                    <a class="btn btn-fullwidth is-dark is-small my-3"
                       href="{% url 'aix:account-list' entity_slug=view.kwargs.entity_slug %}">
                        {% trans 'Back' %}
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



