{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="is-size-1 text-weight-thin">{% trans 'Update Branch' %}</h1></div>
                </div>
            </div>

            <div class="columns is-mobile is-centered">
                <div class="column is-6">
                    <form action="{% url 'aix:unit-update' entity_slug=view.kwargs.entity_slug unit_slug=unit.slug %}"
                          method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary mt-2">{% trans 'Update' %}</button>
                        <a class="btn btn-dark mt-2"
                           href="{% url 'aix:unit-list' entity_slug=view.kwargs.entity_slug %}">{% trans 'Back' %}</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

