{% block content_fuels %}
{% load aix %}
{% load crispy_forms_tags%}
                    <div>
                        <div class="row">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <b>Tasks</b>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item text-center">
                                        {% for group in request.user.groups.all %}
                                        {% if group.name == 'Admins' or group.name == 'Supervisor' or group.name == 'Clerks' %}
                                        <a href="{% url 'aix:equipment-fuel-create-wo' entity_slug=view.kwargs.entity_slug work_order_pk=view.kwargs.work_order_pk %}" class="btn-sm btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Add Task</a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-1">
                        <!-- <table id="state-saving-datatable" class="table dt-responsive nowrap w-100" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> -->
                        <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Start Location</th>
                                    <th>Equipment</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fuel in eq_fuel_qs %}
                                <tr>
                                <td>{{ fuel.code }}</td>
                                <td>{{ fuel.fuel_date }}</td>
                                <td>{{ fuel.start_location }}</td>
                                <td>{{ fuel.equipment }}</td>
                                <td>
                                    {# comment #}
                                    {% for group in request.user.groups.all %}
                                    {% if group.name == 'Admins' or group.name == 'Supervisor' or group.name == 'Clerks' %}
                                    <a href="{% url  'aix:equipment-fuel-update' entity_slug=entity_slug equipment_fuel_pk=fuel.uuid %}" class="btn-sm btn-dark">Edit</a>
                                    {% endif %}
                                    {% endfor %}
                                    <a href="{% url  'aix:equipment-fuel-details' entity_slug=entity_slug equipment_fuel_pk=fuel.uuid %}" class="btn-sm btn-dark">Details</a>
                                    {# endcomment #}
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
{% endblock content_fuels %}