{% extends 'aix/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load aix %}

{% block content %}

    <div class="columns is-centered">
        <div class="column is-6">
            <form action="{{ form_action_url }}"
                  method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content text-centered">
                        <p class="title text-weight-light">Are you sure you want to delete
                            Bill {{ bill.bill_number }}</p>
                    </div>
                    <div class="card-content text-centered">
                        <p class="subtitle">All transactions associated with this Bill will be deleted.
                            If you want to void the bill instead, click <a
                                    href="{% url 'aix:bill-void' entity_slug=view.kwargs.entity_slug bill_pk=bill.uuid %}">
                                here
                            </a>
                        </p>
                    </div>
                    <div class="card-content text-centered">
                        <a href="{% url 'aix:bill-detail' entity_slug=view.kwargs.entity_slug bill_pk=bill.uuid %}"
                           class="btn btn-primary">{% trans 'Go Back' %}</a>
                        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </div>

                </div>
            </form>
        </div>

    </div>

{% endblock %}




