{% extends 'aix/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load aix %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-6">
            <form action="{% url 'aix:fet-delete' entity_slug=view.kwargs.entity_slug fet_pk=fet_model.uuid %}"
                  method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content text-centered">
                        <p class="title text-weight-light">Are you sure you want to delete
                            Faw {{ fet_model.code }}</p>
                    </div>
                    <div class="card-content text-centered">
                        <p class="subtitle">All transactions associated with this Jobcard will be deleted.
                            If you want to void the FAW instead, click here</p>
                    </div>
                    <div class="card-content text-centered">
                        <a href="{% url 'aix:fet-detail' entity_slug=view.kwargs.entity_slug fet_pk=fet_model.uuid %}"
                           class="btn btn-primary">{% trans 'Go Back' %}</a>
                        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}