
{% block page_header %}
<div class="row">
    <div class="col-12"> 
        <div class="card text-lights">
            <div class="card-body dexa-titles dexa-border-bottom">
                <div class="row">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <span class="text-dark text-h2 pl-1"><b>{% if equipment %}EQUIPMENT No.# {{equipment}}{% else %}EQUIPMENT{% endif %}</b></span>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item text-center">
                                {% for group in request.user.groups.all %}
                                {% if group.name == 'TotalProjectManager' or group.name == 'Admins' %}       
                                <a href="{% url  'aix:equipment-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm dexa-btn-default text-light ml-1">New Equipment</a>
                                {% endif %}
                                {% endfor %}
                                {% for group in request.user.groups.all %}
                                {% if group.name == 'OperationsManager' or group.name == 'ProjectManager' or group.name == 'Admins' %} 
                                    {% if equipment %}     
                                    <a href="{% url  'aix:equipment-update' entity_slug=view.kwargs.entity_slug equipment_pk=equipment.uuid %}" class="btn-sm dexa-btn-default text-light ml-1">{{equipment}}</a>
                                    {% else %}
                                    <a href="{% url  'aix:equipment-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm dexa-btn-default text-light ml-1">Equipment</a>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% for group in request.user.groups.all %}
                                {% if group.name == 'TotalProjectManager' or group.name == 'Admins' %}
                                <a href="{% url  'aix:asset-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm dexa-btn-default text-light ml-1">Assets</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <p>
                            <a href="{% url  'aix:equipment-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">Equipment</a>
                            <a href="{% url  'aix:equipment-handover-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">Handover</a>
                            <a href="{% url  'aix:equipment-type-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">Type</a>
                            <a href="{% url  'aix:equipment-manufacturer-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">Manufacturers</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_header%}