{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}
        <div class="row">
            <div class="col-12">
                {% block page_header %}
                {% include '../page_header.html' %}
                {% endblock page_header %}
            </div>
            <div class="col-7">
                <div class="row px-3">
                    <div class="col-6 badge bg-danger text-h2"><b>{{ work_order_task.tripno}}</b></div>
                    <div class="col-3 badge dexa-title text-h2"><b>{{ work_order_task.startdate}}</b></div>
                    <div class="col-3 badge toast-danger text-h2"><b>{{ work_order_task.enddate}}</b></div>
                </div>
                <div class="row px-3">
                    <div class="col-4 badge toast-dark text-h4"><b>DISTANCE</b></div>
                    <div class="col-4 badge toast-dark text-h4"><b>START-LOCATION</b></div>
                    <div class="col-4 badge toast-dark text-h4"><b>END-LOCATION</b></div>
                </div>
                <div class="row px-3">
                    <div class="col-4 badge toast-dark text-h2"><b>{{ work_order_task.tripdistance}}</b></div>
                    <div class="col-4 badge toast-dark text-h2"><b>{{ work_order_task.startlocation}}</b></div>
                    <div class="col-4 badge toast-dark text-h2"><b>{{ work_order_task.endlocation}}</b></div>
                </div>
                <!-- <span class="col-lg-3 badge bg-danger pa-2 text-h2"><b>START-DATE: {{ work_order_task.startdate}}</b></span>
                <span class="col-lg-3 badge bg-danger pa-2 text-h2"><b>END-DATE: {{ work_order_task.enddate}}</b></span> -->
            </div>
            <div class="col-7">
                <!-- <div class="card dexa-title">
                <table width="100%">
                    <td>
                        <table>
                            <tr>
                                <th>Task</th>
                                <td>{{ work_order_task.taskno }}</td>
                            </tr>
                            <tr>
                                <th>Start Date</th>
                                <td>{{ work_order_task.startdate }}</td>
                            </tr>
                            <tr>
                                <th>End Date</th>
                                <td>{{ work_order_task.enddate }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Start Mileage: </th>
                                <td>{{ work_order_task.startmileage }}</td>
                            </tr>
                            <tr>
                                <th>End Mileage: </th>
                                <td>{{ work_order_task.endmileage }}</td>
                            </tr>
                        </table>
                    </td>
                </table>
                </div> -->
                <table width="100%">
                    <tr>
                        <td width="30%">
                            <table class="border w-100">
                                <tr><th><b>Activities</b></th></tr>
                                <tr><td>{{ task_digest.ops_qs.count }}</td></tr>
                            </table>
                        </td>
                        <!-- <td width="2.5%"></td> -->
                        <td width="30%">
                            <table class="border w-100">
                                <tr><th><b>Assets</b></th></tr>
                                <tr><td>{{ task_digest.task_asset_qs.count }}</td></tr>
                            </table>
                        </td>
                        <!-- <td width="2.5%"></td> -->
                        <td width="30%">
                            <table class="border w-100">
                                <tr><th><b>Personnel</b></th></tr>
                                <tr><td>{{ task_digest.task_asset_qs.count }}</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td><p></p></td></tr>
                    <tr>
                        <!-- <td width="30%">
                            <table class="border w-100">
                                <tr><th><b>Trips</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_trips.trip_activity__sum }}</td></tr>
                            </table>
                        </td> -->
                        <!-- <td width="5%"></td> -->
                        <!-- <td width="30%">
                            <table class="border w-100">
                                <tr><th><b>Equipment.</b></th></tr>
                                <tr><td>{{ task_digest.stat_nox_onoff }}</td></tr>
                            </table>
                        </td> -->
                        <!-- <td width="5%"></td> -->
                        <!-- <td width="30%">
                            <table class="border w-100">
                                <tr><th><b>POB</b></th></tr>
                                <tr><td>{{ task_digest.stat_nox_pob }}</td></tr>
                            </table>
                            <table class="border w-100">
                                <tr>
                                    <td>
                                        <table class="border w-100">
                                            <tr><th><b>SN</b></th></tr>
                                            <tr><td>{{ task_digest.stat_nox_pob_SN.count }}</td></tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table class="border w-100">
                                            <tr><th><b>NN</b></th></tr>
                                            <tr><td>{{ task_digest.stat_nox_pob_NN.count }}</td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td> -->
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>TRIPS</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_trips.trip_activity__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>KMSPASSED</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.kms_passed.kms_passed__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>FUEL</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.consol_fuel.consol_fuel__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%"><p class="dexa-title">HRS</p></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OPS-TR</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_ops.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                        <!-- <td width="2%"></td> -->
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OPS-REP</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_rep.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                        <!-- <td width="2%"></td> -->
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OPS-LF</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_lf.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                    <!-- </tr>
                    <tr> -->
                        <!-- <td width="2%"></td> -->
                        <!-- <td width="25%">
                            <table class="border w-100">
                                <tr><th><b></b></th></tr>
                                <tr><td></td></tr>
                            </table>
                        </td> -->
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>STB</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_stb.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>BRKD</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_brkd.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OFFHIRE</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.hrs_offhire.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>CARGO</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.ton_cargo.section2_ton_cargo__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>NO-LIFTS</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.no_lifts.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                        <!-- <td width="2%"></td> -->
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>TON-LIFTS</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.ton_lifts.section2_time_taken__sum }}</td></tr>
                            </table>
                        </td>
                        <!-- <td width="2%"></td> -->
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b></b></th></tr>
                                <tr><td></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%"><p class="dexa-title">Lifting Operations - [#]</p></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <!-- <td width="2%"></td> -->
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>ROUTINE</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.no_routine.no_routine__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>SIMPLE</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.no_simple.no_simple__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>COMPLICATED</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.no_complicated.no_complicated__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>COMPLEX</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.no_routine.no_routine__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%"><p class="dexa-title">Lifting Operations - [Tons]</p></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <!-- <td width="2%"></td> -->
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>ROUTINE</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.ton_routine.ton_routine__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>SIMPLE</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.ton_simple.ton_simple__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>COMPLICATED</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.ton_complicated.ton_complicated__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="25%">
                            <table class="border w-100">
                                <tr><th><b>COMPLEX</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.ton_routine.ton_routine__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%"><p class="dexa-title">Lifted/ Location [Ton]</p></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <!-- <td width="2%"></td> -->
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>DSB</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.llt_dsb.llt_dsb__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>TGI</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.llt_tgi.llt_tgi__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#1</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.llt_rig1.llt_rig1__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#2</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.llt_rig2.llt_rig2__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#3</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.llt_rig3.llt_rig3__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OTHER</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.llt_other.llt_other__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%"><p class="dexa-title">Transported / Location [Ton]</p></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <!-- <td width="2%"></td> -->
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>DSB</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.tlt_dsb.tlt_dsb__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>TGI</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.tlt_tgi.tlt_tgi__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#1</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.tlt_rig1.tlt_rig1__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#2</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.tlt_rig2.tlt_rig2__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#3</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.tlt_rig3.tlt_rig3__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OTHER</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.tlt_other.tlt_other__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <td width="100%"><p class="dexa-title">Lifted/ Transported Totals</p></td>
                    </tr>
                </table>
                <table width="100%">
                    <tr>
                        <!-- <td width="2%"></td> -->
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>DSB</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.dnt_dsb.dnt_dsb__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>TGI</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.dnt_tgi.dnt_tgi__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#1</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.dnt_rig1.dnt_rig1__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#2</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.dnt_rig2.dnt_rig2__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>RIG#3</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.dnt_rig3.dnt_rig3__sum }}</td></tr>
                            </table>
                        </td>
                        <td width="16.6%">
                            <table class="border w-100">
                                <tr><th><b>OTHER</b></th></tr>
                                <tr><td>{{ task_digest.ops_digest.dnt_other.dnt_other__sum }}</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item text-center">
                                <a href="{% url  'aix:work-order-task-update' entity_slug=view.kwargs.entity_slug work_order_task_pk=work_order_task.uuid %}" class="btn-sm btn-dark">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table width="100%">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td>
                                        {% block content_tasks %}
                                        {% include './activities.html' with entity_slug=view.kwargs.entity_slug task=work_order_task activities=task_digest.ops_qs %}
                                        {% endblock content_tasks %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
{%endblock content%}
{% block extra_javascript %}
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.f.write.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
       <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script> 
       <script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock extra_javascript %}
