{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}

    <div class="row">
        <div class="col-12">
            {% block page_header %}
            {% include './page_header.html' %}
            {% endblock page_header %}
        </div>
        {% if not employees %}
        <div class="columns is-multiline is-centered">
            <div class="column is-6">
                <div class="card">
                    {% if employee %}
                    <form action="{% url 'aix:employee-update' entity_slug=view.kwargs.entity_slug employee_pk=employee.uuid %}" method="post">
                    {% else %}
                    <form action="{% url 'aix:employee-create' entity_slug=view.kwargs.entity_slug %}" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <div class="card-header">
                            <h2 class="card-header-title">
                                        <span class="icon is-medium">
                                           {# {% icon 'ic:baseline-production-quantity-limits' 36 %} #}
                                        </span>{{ page_title }}</h2>
                                        <div class="level-item">
                                            <a href="{% url 'aix:employee-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'New Employee' %}</a>
                                            <a href="{% url 'aix:employee-pull' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'Pull' %}</a>
                                        </div>
                        </div>
                        {% if form %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    {{ form.as_p }}
                                    <button type="submit"
                                            class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                        {% trans 'Save' %}
                                    </button>
                                    <a href="{% url 'aix:employee-list' entity_slug=view.kwargs.entity_slug %}"
                                       class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if forms %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    {{ form.name | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.gender | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.dateofbirth | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.idnumber | as_crispy_field }}
                                </div>
                            </div>
                            <button type="submit"
                                    class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                {% trans 'Save' %}
                            </button>
                            <a href="{% url 'aix:employee-list' entity_slug=view.kwargs.entity_slug %}"
                               class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                        </div>
                        {% endif %}
                    </form>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% if employees %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <h1 class="is-size-4 text-weight-thin">{% trans 'Employee List' %}</h1>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a href="{% url 'aix:employee-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                            <i class="mdi mdi-plus"></i> {% trans 'New Employee' %}</a>
                                        {% for group in request.user.groups.all %}
                                        {% if group.name == 'Admins' or group.name == 'Supervisor' or group.name == 'Clerks' %}
                                        <a href="{% url 'aix:employee-pull' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success ml-1">
                                            <i class="mdi mdi-plus"></i> {% trans 'Pull' %}</a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <table id="state-saving-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Nationality</th>
                                        <td>Option</td>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for employee in employees %}
                                    <tr>
                                        <td>{{employee.idnumber}}</td>
                                        <td>{{employee.name}}</td>
                                        <td>{{employee.gender}}</td>
                                        <td>{{employee.nationality}}</td>
                                        <td>
                                            <a href="{% url  'aix:employee-update' entity_slug=view.kwargs.entity_slug employee_pk=employee.uuid %}" class="btn-sm btn-dark">edit</a>
                                            <a href="{% url 'aix:employee-details' entity_slug=view.kwargs.entity_slug employee_pk=employee.uuid %}"
                                                           class="btn-sm btn-dark">{% trans 'Detail' %}</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        {% endif %}
    </div> <!-- end row -->
{%endblock content%}

