{% load i18n %}
{% load aix %}

{% if not create_jcd %}
    {% if style == 'jcd-detail' %}
        <div class="card">
            <div class="card-header">
                <h2 class="card-header-title text-weight-light is-size-3">
            <span class="icon is-large">
                    {#{% icon 'uil:bill' 36 %}#}</span>
                    {{ jcd_model.jcd_number }}
                </h2>
            </div>
            <div class="card-body">

                {% if jcd_model.is_draft %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Job.Card Amount' %}:
                        {% currency_symbol %}{{ jcd_model.jcd_date | date }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Job.Card Amount' %}:
                        {% currency_symbol %}{{ jcd_model.jcd_amount | currency_format }}</h3>
                {% endif %}

                {% if jcd_model.is_review %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Job.Card Amount' %}:
                        {% currency_symbol %}{{ jcd_model.jcd_amount | currency_format }}</h3>
                {% endif %}

                {% if jcd_model.is_approved %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Approved' %}:
                        {{ jcd_model.jcd_date | date }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Job.Card Amount' %}:
                        {% currency_symbol %}{{ jcd_model.jcd_amount | currency_format }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Received Amount' %}:
                        {% currency_symbol %}{{ jcd_model.jcd_amount_received | currency_format }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Paid Amount' %}:
                        {% currency_symbol %}{{ total_paid | currency_format }}</h3>
                {% endif %}

                {% if jcd_model.is_fulfilled %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Approved' %}:
                        {{ jcd_model.jcd_date | date }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Job.Card Amount' %}:
                        {% currency_symbol %}{{ jcd_model.jcd_amount | currency_format }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Fulfilled' %}:
                        <span class="icon text-success">{#{% icon 'ant-design:check-circle-filled' 24 %}#}</span>
                    </h3>
                {% endif %}
            </div>

            <footer class="card-footer">
                <a href="{% url 'aix:jcd-update' entity_slug=entity_slug jcd_pk=jcd_model.uuid %}"
                   class="card-footer-item text-light text-centered btn btn-secondary is-fullwidth is-outlined">{% trans 'Update' %}</a>

                {# MARK DRAFT #}
                {% if jcd_model.can_draft %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_draft_html_id }}')"
                       id="{{ jcd_model.get_mark_as_review_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-secondary is-fullwidth is-outlined">{% trans 'Mark as Draft' %}</a>
                    {# MARK AS DRAFT MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_draft_url jcd_model.get_mark_as_draft_message jcd_model.get_mark_as_draft_html_id %}
                {% endif %}

                {# MARK REVIEW #}
                {% if jcd_model.can_review %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_review_html_id }}')"
                       id="{{ jcd_model.get_mark_as_review_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-info is-fullwidth is-outlined">{% trans 'Mark as Review' %}</a>
                    {# MARK AS REVIEW MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_review_url jcd_model.get_mark_as_review_message jcd_model.get_mark_as_review_html_id %}
                {% endif %}

                {# MARK APPROVED #}
                {% if jcd_model.can_approve %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_approved_html_id }}')"
                       id="{{ jcd_model.get_mark_as_approved_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-success is-fullwidth is-outlined">{% trans 'Mark as Approved' %}</a>
                    {# MARK AS APPROVED MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_approved_url jcd_model.get_mark_as_approved_message jcd_model.get_mark_as_approved_html_id %}
                {% endif %}

                {# FULFILL BUTTON #}
                {% if jcd_model.can_fulfill %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_fulfilled_html_id }}')"
                       id="{{ jcd_model.get_mark_as_fulfilled_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-success is-fullwidth is-outlined">{% trans 'Fulfill' %}</a>
                    {# MARK AS DELETE MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_fulfilled_url jcd_model.get_mark_as_fulfilled_message jcd_model.get_mark_as_fulfilled_html_id %}
                {% endif %}

                {# DELETE BUTTON #}
                {% if jcd_model.can_delete %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_delete_html_id }}')"
                       id="{{ jcd_model.get_mark_as_delete_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-danger is-fullwidth is-outlined">{% trans 'Delete' %}</a>
                    {# MARK AS DELETE MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_delete_url jcd_model.get_mark_as_delete_message jcd_model.get_mark_as_delete_html_id %}
                {% endif %}

                {# VOID BUTTON #}
                {% if jcd_model.can_void %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_void_html_id }}')"
                       id="{{ jcd_model.get_mark_as_void_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-danger is-fullwidth is-outlined">{% trans 'Void' %}</a>
                    {# MARK AS VOID MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_void_url jcd_model.get_mark_as_void_message jcd_model.get_mark_as_void_html_id %}
                {% endif %}

                {# CANCEL BUTTON #}
                {% if jcd_model.can_cancel %}
                    <a onclick="djLedger.toggleModal('{{ jcd_model.get_mark_as_canceled_html_id }}')"
                       id="{{ jcd_model.get_mark_as_canceled_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-danger is-fullwidth is-outlined">{% trans 'Cancel' %}</a>
                    {# MARK AS CANCELED MODAL #}
                    {% modal_action_v2 bill jcd_model.get_mark_as_canceled_url jcd_model.get_mark_as_canceled_message jcd_model.get_mark_as_canceled_html_id %}
                {% endif %}

            </footer>

        </div>

    {% endif %}
{% else %}
    <div class="box text-centered">
        <a href="{% url 'aix:jcd-create' entity_slug=entity_slug %}">
            <span class="icon is-large text-grey">{% icon "ic:baseline-add-circle-outline" 48 %}</span></a>
        <h2 class="is-size-3 text-grey">{% trans 'New TRIP' %}</h2>
    </div>
{% endif %}