{% block content_pobs %}
{% load aix %}
{% load crispy_forms_tags%}
                    <div>
                        <div class="row">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <b>P.O.B</b>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item text-center">
                                        <a href="{% url 'aix:kpi-pob-create-wo' entity_slug=view.kwargs.entity_slug work_order_activity_pk=view.kwargs.work_order_activity_pk %}" class="btn-sm btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Add POB</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-1">
                        <!-- <table id="state-saving-datatable" class="table dt-responsive nowrap w-100" style="border-collapse: collapse; border-spacing: 0; width: 100%;"> -->
                        <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Date</th>
                                    <th>Rotation #1</th>
                                    <th>Rotation #2</th>
                                    <th>Rotation #3</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pob in persons %}
                                <tr>
                                <td>{{ pob.code }}</td>
                                <td>{{ pob.activity_date }}</td>
                                <td>{{ pob.rotation1.name }}</td>
                                <td>{{ pob.rotation2.name }}</td>
                                <td>{{ pob.rotation3.name }}</td>
                                <td>{{ pob.status }}</td>
                                <td>
                                    {# comment #}
                                    {% for group in request.user.groups.all %}
                                    {% if group.name == 'Admins' or group.name == 'Supervisor' or group.name == 'Clerks' %}
                                    <a href="{% url  'aix:kpi-pob-update-wo' entity_slug=entity_slug work_order_activity_pk=pob.activity.uuid kpi_pob_pk=pob.uuid %}" class="btn-sm btn-dark">Edit</a>
                                    {% endif %}
                                    {% endfor %}
                                    <a href="{% url  'aix:kpi-pob-details' entity_slug=entity_slug kpi_pob_pk=pob.uuid %}" class="btn-sm btn-dark">Details</a>
                                    {# endcomment #}
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
{% endblock content_pobs %}