{% extends 'partials/base.html' %}
{% load static %}
{% block extra_css %}
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{%block content%}
        <div class="row">
            <div class="col-12">
                {% block page_header %}
                {% include 'accounts/page_header.html' %}
                {% endblock page_header %}
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Category </th>
                                    <th> Description</th>
                                    <th>Requisitioner</th>
                                    <th>Approver</th>
                                    <th>Status </th>
                                    <th>Amount</th>
                                    <th>Action </th>
                                    <th><a href="{% url  'Requisition-list' entity_slug=view.kwargs.entity_slug %}" class=>ADD NEW CONTACT</a></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for Requisitions in Requisitions_list %}
                                <tr>
                                    <td>{{Requisitions.number}}</td>
                                    <td>{{Requisitions.number}}</td>
                                    <td>{{Requisitions.Case-fIles.file_name}}</td>
                                    <td>{{Requisitions.Case-files.file_number}}</td>
                                    <td>{{Requisitions.RequisitionCategory.name}}</td>
                                    <td>{{Requisitions.currency.code}}</td>
                                    <td>{{Requisitions.Employees.full_name}}</td>
                                    <td>{{Requisitions.currency.full_name}}</td>
                                    <td>
                                    <a href="{% url  'aix:requisitions-update' Requisitions.uuid %}" class="btn-sm btn-dark">edit</a>
                                    <form action="{% url  'aix:requisitions-delete' Requisitions.uuid %}" method ="post" class="d-inline">
                                        {% csrf_token%}
                                        <button class="submit">del</button>
                                    </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{%endblock content%}
{% block extra_javascript %}
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.f.write.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
       <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script> 
       <script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock extra_javascript %}
