{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}

    <div class="row">
        <div class="col-12">
            {% block page_header %}
            {% include './page_header.html' %}
            {% endblock page_header %}
        </div>
        {% if not taxes %}
        <div class="columns is-multiline is-centered">
            <div class="column is-6">
                <div class="card">
                    <form action="{% url 'aix:tax-create' entity_slug=view.kwargs.entity_slug %}"
                          method="post">
                        {% csrf_token %}
                        <div class="card-header">
                            <h2 class="card-header-title">
                                        <span class="icon is-medium">
                                           {# {% icon 'ic:baseline-production-quantity-limits' 36 %} #}
                                        </span>{{ page_title }}</h2>
                                        <div class="level-item">
                                            <a href="{% url 'aix:tax-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'New Tax' %}</a>
                                        </div>
                        </div>
                        {% if form %}
                        <div class="card-body dexa-form-table">
                            <table>{{ form.as_table }}</table>
                            <button type="submit"
                                    class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                {% trans 'Save' %}
                            </button>
                            <a href="{% url 'aix:tax-list' entity_slug=view.kwargs.entity_slug %}"
                               class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                        </div>
                        {% endif %}
                    </form>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% if taxes %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List of Taxes</h4>
                            <p class="card-title-desc">
                                This is a list of all taxes, their locations in different towns, and cities.
                            </p>

                            <table id="state-saving-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for tax in taxes %}
                                    <tr>
                                        <td>{{tax.code}}</td>
                                        <td>{{tax.name}}</td>
                                        <td>{{tax.description}}</td>
                                        <td>
                                            <a href="{% url  'aix:tax-update' entity_slug=view.kwargs.entity_slug tax_pk=tax.uuid %}" class="btn-sm btn-dark">edit</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        {% endif %}
    </div> <!-- end row -->
{%endblock content%}

