{% extends 'aix/base.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}

    <div class="row">
        <div class="col-12 card">
            <span class="text-dark text-h2 pl-1"><b>ROUTE SURVEY</b></span>
        </div>
        {% if not route_surveys %}
        <div class="columns is-multiline is-centered">
            <div class="column is-6">
                <div class="card">
                    {% if route_survey %}
                    <form action="{% url 'aix:route-survey-update' entity_slug=view.kwargs.entity_slug route_survey_pk=route_survey.uuid %}" method="post">
                    {% else %}
                    <form action="{% url 'aix:route-survey-create' entity_slug=view.kwargs.entity_slug %}" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <div class="card-header">
                            <h2 class="card-header-title">
                                        <span class="icon is-medium">
                                           {# {% icon 'ic:baseline-production-quantity-limits' 36 %} #}
                                        </span>{{ page_title }}</h2>
                                        <div class="level-item">
                                            <a href="{% url 'aix:route-survey-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'New Route Survey' %}</a>
                                        </div>
                        </div>
                        {% if form %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    {{ form.as_p }}
                                    <button handover="submit"
                                            class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                        {% trans 'Save' %}
                                    </button>
                                    <a href="{% url 'aix:route-survey-list' entity_slug=view.kwargs.entity_slug %}"
                                       class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if forms %}
                        <div class="card-body">
                            <div class="row">
                                {{ form.as_p }}
                            </div>
                            <button handover="submit"
                                    class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                {% trans 'Save' %}
                            </button>
                            <a href="{% url 'aix:route-survey-list' entity_slug=view.kwargs.entity_slug %}"
                               class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                        </div>
                        {% endif %}
                    </form>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% if route_surveys %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <h1 class="is-size-4 text-weight-thin">{% trans 'Route Survey List' %}</h1>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a href="{% url 'aix:route-survey-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                            <i class="mdi mdi-plus"></i> {% trans 'New Route Survey' %}</a>
                                    </div>
                                </div>
                            </div>
                            <table id="state-saving-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Equipment</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>By</th>
                                        <th>To</th>
                                        <th>Project</th>
                                        <th>Condition</th>
                                        <td>Option</td>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for route_survey in route_surveys %}
                                    <tr>
                                        <td>{{route_survey.code}}</td>
                                        <td>{{route_survey.equipment}}</td>
                                        <td>{{route_survey.ho_date}}</td>
                                        <td>{{route_survey.ho_time}}</td>
                                        <td>{{route_survey.project}}</td>
                                        <td>{{route_survey.location}}</td>
                                        <td>{{route_survey.condition}}</td>
                                        <td>{{route_survey.handover_by}}</td>
                                        <td>{{route_survey.received_by}}</td>
                                        <td>
                                            <a href="{% url  'aix:route-survey-update' entity_slug=view.kwargs.entity_slug route_survey_pk=route_survey.uuid %}" class="btn-sm btn-dark">edit</a>
                                            <a href="{% url  'aix:route-survey-rpt' entity_slug=view.kwargs.entity_slug route_survey_pk=route_survey.uuid %}" class="btn-sm btn-info">Print</a>
                                            <a onclick="djLedger.toggleModal('{{ route_survey.get_mark_as_approved_hr_html_id }}')"
                                               id="{{ route_survey.get_mark_as_approved_hr_html_id }}-button"
                                               class="btn-sm btn-warning">{% trans 'Mark as Approved' %}</a>
                                                {# MARK AS DRAFT MODAL #}
                                                {% modal_action_v2 route_survey route_survey.get_mark_as_approved_hr_url route_survey.get_mark_as_approved_hr_message route_survey.get_mark_as_approved_hr_html_id %}
                                            <a onclick="djLedger.toggleModal('{{ route_survey.get_mark_as_approved_ict_html_id }}')"
                                                id="{{ route_survey.get_mark_as_approved_ict_html_id }}-button"
                                                class="btn-sm btn-dark">{% trans 'Mark as Approved' %}</a>
                                                {# MARK AS DRAFT MODAL #}
                                                {% modal_action_v2 route_survey route_survey.get_mark_as_approved_ict_url route_survey.get_mark_as_approved_ict_message route_survey.get_mark_as_approved_ict_html_id %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        {% endif %}
    </div> <!-- end row -->
{%endblock content%}

