
{% block page_header %}
<div class="row">
    <div class="col-12"> 
        <div class="card text-lights">
            <div class="card-body dexa-titles dexa-border-bottom">
                <div class="row">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <span class="text-dark text-h2 pl-1"><b>{% if work_order %}WORK ORDER NO.# {{work_order}}{% else %}WORK ORDERS{% endif %}</b></span>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item text-center">
                                {% for group in request.user.groups.all %}
                                {% if group.name == 'TotalProjectManager' or group.name == 'Admins' %}       
                                <a href="{% url  'aix:work-order-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm dexa-btn-default text-light ml-1">New Work Order</a>
                                {% endif %}
                                {% endfor %}
                                {% for group in request.user.groups.all %}
                                {% if group.name == 'OperationsManager' or group.name == 'ProjectManager' or group.name == 'Admins' %} 
                                    {% if work_order %}     
                                    <a href="{% url  'aix:work-order-details' entity_slug=view.kwargs.entity_slug work_order_pk=work_order.uuid %}" class="btn-sm dexa-btn-default text-light ml-1">{{work_order}}</a>
                                    {% else %}
                                    <a href="{% url  'aix:work-order-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm dexa-btn-default text-light ml-1">Work Orders</a>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% for group in request.user.groups.all %}
                                {% if group.name == 'TotalProjectManager' or group.name == 'Admins' %}
                                <a href="{% url  'aix:asset-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm dexa-btn-default text-light ml-1">Assets</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <p>
                            <!-- <a href="{% url  'aix:work-order-type-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">WO Type</a>
                            <a href="{% url  'aix:work-category-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">WO Category</a>
                            <a href="{% url  'aix:work-order-status-list' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-dark">WO Status</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_header%}