{% extends 'aix/layouts/content_layout_1.html' %}
{% load i18n %}
{% load static %}
{% load aix %}
{% load crispy_forms_tags%}
{%block content%}

    <div class="row">
        <div class="col-12">
            {% block page_header %}
            {% include './page_header.html' %}
            {% endblock page_header %}
        </div>
        {% if not work_order_statuses %}
        <div class="columns is-multiline is-centered">
            <div class="column is-6">
                <div class="card">
                    {% if work_order_status %}
                    <form action="{% url 'aix:work-order-status-update' entity_slug=view.kwargs.entity_slug work_order_status_pk=work_order_status.uuid %}" method="post">
                    {% else %}
                    <form action="{% url 'aix:work-order-status-create' entity_slug=view.kwargs.entity_slug %}" method="post">
                    {% endif %}
                        {% csrf_token %}
                        <div class="card-header">
                            <h2 class="card-header-title">
                                        <span class="icon is-medium">
                                           {# {% icon 'ic:baseline-production-quantity-limits' 36 %} #}
                                        </span>{{ page_title }}</h2>
                                        <div class="level-item">
                                            <a href="{% url 'aix:work-order-status-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                                <i class="mdi mdi-plus"></i> {% trans 'New Work Order Status' %}</a>
                                        </div>
                        </div>
                        {% if form %}
                        <div class="card-body dexa-form-table">
                            <table>{{ form.as_table }}</table>
                            <button status="submit"
                                    class="btn btn-primary is-outlined is-fullwidth djetler_my_1">
                                {% trans 'Create' %}
                            </button>
                            <a href="{% url 'aix:work-order-status-list' entity_slug=view.kwargs.entity_slug %}"
                               class="btn-sm btn-dark is-fullwidth">{% trans 'Back' %}</a>
                        </div>
                        {% endif %}
                    </form>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% if work_order_statuses %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <h1 class="is-size-4 text-weight-thin">{% trans 'Work Order Statu List' %}</h1>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a href="{% url 'aix:work-order-status-create' entity_slug=view.kwargs.entity_slug %}" class="btn-sm btn-success">
                                            <i class="mdi mdi-plus"></i> {% trans 'New Work Order Status' %}</a>
                                    </div>
                                </div>
                            </div>
                            <table id="state-saving-datatable" class="table dt-responsive nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    {% for work_order_status in work_order_statuses %}
                                    <tr>
                                        <td>{{work_order_status.name}}</td>
                                        <td>{{work_order_status.description}}</td>
                                        <td>
                                            <a href="{% url  'aix:work-order-status-update' entity_slug=view.kwargs.entity_slug work_order_status_pk=work_order_status.uuid %}" class="btn-sm btn-dark">edit</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->
        </div>
        {% endif %}
    </div> <!-- end row -->
{%endblock content%}

