<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>aix</title>
	<meta content="Threeways Shipping Services | Oil & Gas | aixs" name="IVMS | Intra-Field & Logistics Tracker" />
	<meta content="MandoMando Design" name="author" />
</head>
<body>
    <div>
        <p>NEW WORK ORDER CREATED + {{wo}} + from aix Portal</p>
        <p>Created {{wo}} with email {{from_email}}:</p>
        <p><b>{{subject}}</b></p>
        <p>You have created a new work order number #. <b>{{wo}}</b> </p>
        <p>Description</p>
        <p><b>{{description}}</b></p> 
        <p>Please dont reply this email message</p>
        <p>aix@Administrator</p>
    </div>
</body>
</html>