{% load i18n %}
{% load aix %}

{% if not create_faw %}
    {% if style == 'faw-detail' %}
        <div class="card">
            <div class="card-header">
                <h2 class="card-header-title text-weight-light is-size-3">
            <span class="icon is-large">
                    {#{% icon 'uil:bill' 36 %}#}</span>
                    {{ faw_model.code }}
                </h2>
            </div>
            <div class="card-body">

                {% if faw_model.is_draft %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Date' %}:
                        {% currency_symbol %}{{ faw_model.faw_date | date }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Status' %}:
                        {% currency_symbol %}{{ faw_model.faw_status }}</h3>
                {% endif %}

                {% if faw_model.is_review %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Status' %}:
                        {% currency_symbol %}{{ faw_model.faw_amount | currency_format }}</h3>
                {% endif %}

                {% if faw_model.is_approved %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Approved' %}:
                        {{ faw_model.faw_date | date }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Status' %}:
                        {% currency_symbol %}{{ faw_model.faw_status }}</h3>
                {% endif %}

                {% if faw_model.is_fulfilled %}
                    <h3 class="is-size-5 text-weight-light">{% trans 'Approved' %}:
                        {{ faw_model.faw_date | date }}</h3>
                    <h3 class="is-size-5 text-weight-light">{% trans 'Status' %}:
                        {% currency_symbol %}{{ faw_model.faw_status }}</h3>
                    </h3>
                {% endif %}
            </div>

            <footer class="card-footer">
                <a href="{% url 'aix:faw-update' entity_slug=entity_slug faw_pk=faw_model.uuid %}"
                   class="card-footer-item text-light text-centered btn btn-secondary is-fullwidth is-outlined">{% trans 'Update' %}</a>

                {# MARK DRAFT #}
                {% if faw_model.can_draft %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_draft_html_id }}')"
                       id="{{ faw_model.get_mark_as_review_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-secondary is-fullwidth is-outlined">{% trans 'Mark as Draft' %}</a>
                    {# MARK AS DRAFT MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_draft_url faw_model.get_mark_as_draft_message faw_model.get_mark_as_draft_html_id %}
                {% endif %}

                {# MARK REVIEW #}
                {% if faw_model.can_review %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_review_html_id }}')"
                       id="{{ faw_model.get_mark_as_review_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-info is-fullwidth is-outlined">{% trans 'Mark as Review' %}</a>
                    {# MARK AS REVIEW MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_review_url faw_model.get_mark_as_review_message faw_model.get_mark_as_review_html_id %}
                {% endif %}

                {# MARK APPROVED #}
                {% if faw_model.can_approve %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_approved_html_id }}')"
                       id="{{ faw_model.get_mark_as_approved_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-success is-fullwidth is-outlined">{% trans 'Mark as Approved' %}</a>
                    {# MARK AS APPROVED MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_approved_url faw_model.get_mark_as_approved_message faw_model.get_mark_as_approved_html_id %}
                {% endif %}

                {# FULFILL BUTTON #}
                {% if faw_model.can_fulfill %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_fulfilled_html_id }}')"
                       id="{{ faw_model.get_mark_as_fulfilled_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-success is-fullwidth is-outlined">{% trans 'Fulfill' %}</a>
                    {# MARK AS DELETE MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_fulfilled_url faw_model.get_mark_as_fulfilled_message faw_model.get_mark_as_fulfilled_html_id %}
                {% endif %}

                {# DELETE BUTTON #}
                {% if faw_model.can_delete %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_delete_html_id }}')"
                       id="{{ faw_model.get_mark_as_delete_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-danger is-fullwidth is-outlined">{% trans 'Delete' %}</a>
                    {# MARK AS DELETE MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_delete_url faw_model.get_mark_as_delete_message faw_model.get_mark_as_delete_html_id %}
                {% endif %}

                {# VOID BUTTON #}
                {% if faw_model.can_void %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_void_html_id }}')"
                       id="{{ faw_model.get_mark_as_void_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-danger is-fullwidth is-outlined">{% trans 'Void' %}</a>
                    {# MARK AS VOID MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_void_url faw_model.get_mark_as_void_message faw_model.get_mark_as_void_html_id %}
                {% endif %}

                {# CANCEL BUTTON #}
                {% if faw_model.can_cancel %}
                    <a onclick="djLedger.toggleModal('{{ faw_model.get_mark_as_canceled_html_id }}')"
                       id="{{ faw_model.get_mark_as_canceled_html_id }}-button"
                       class="card-footer-item text-light text-centered btn btn-danger is-fullwidth is-outlined">{% trans 'Cancel' %}</a>
                    {# MARK AS CANCELED MODAL #}
                    {% modal_action_v2 bill faw_model.get_mark_as_canceled_url faw_model.get_mark_as_canceled_message faw_model.get_mark_as_canceled_html_id %}
                {% endif %}

            </footer>

        </div>

    {% endif %}
{% else %}
    <div class="box text-centered">
        <a href="{% url 'aix:faw-create' entity_slug=entity_slug %}">
            <span class="icon is-large text-grey">{% icon "ic:baseline-add-circle-outline" 48 %}</span></a>
        <h2 class="is-size-3 text-grey">{% trans 'New TRIP' %}</h2>
    </div>
{% endif %}